<h1>All Secrets</h1>

<% @secrets_desc.each do |secret|%>
  <div class="secret">
    <p><%= secret.content %></p>
    <p>Likes: <%= secret.users_liked.count %></p>
    <% if @secrets_user_likes.include? secret.id %>
      <form action="/likes" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="like[secret]" value="<%= secret.id %>">
        <input type="submit" value="dislike">
      </form>
    <% else %>
      <form action="/likes" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="like[secret]" value="<%= secret.id %>">
        <input type="submit" value="like">
      </form>
    <% end %>
    <% if secret.user === current_user %>
    <a href="/secrets/<%= secret.id %>" data-method="delete">Delete Secret</a>
    <% end %>
  </div>
  <% end %>
